# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
hughes-tracker

# Test binary
*.test

# Go build cache
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Environment files
.env
.env.local

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Jetbrains
.idea
